<p>League matches</p>

<table mat-table [dataSource]="matches">

  <ng-container matColumnDef="date">
    <th mat-header-cell *matHeaderCellDef>Date</th>
    <td mat-cell *matCellDef="let match"> {{matchInfo.MatchDate | dateNorwegian }}</td>
  </ng-container>

  <ng-container matColumnDef="homeTeam">
    <th mat-header-cell *matHeaderCellDef>Home team</th>
    <td mat-cell *matCellDef="let match"> {{matchInfo.HomeTeamName}} </td>
  </ng-container>

  <ng-container matColumnDef="awayTeam">
    <th mat-header-cell *matHeaderCellDef>Away team</th>
    <td mat-cell *matCellDef="let match"> {{matchInfo.AwayTeamName}} </td>
  </ng-container>

  <ng-container matColumnDef="location">
    <th mat-header-cell *matHeaderCellDef>Location</th>
    <td mat-cell *matCellDef="let match"> {{matchInfo.ActivityAreaName}} </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="columnsToDisplay"></tr>
  <tr mat-row *matRowDef="let match; columns: columnsToDisplay;" [routerLink]="[matchInfo.MatchNo]"></tr>

</table>
