.mat-column-time {
  width: 100px;
}

.mat-column-player {
  width: 200px;
}

.mat-column-penaltyDuration {
  width: 100px;
}


.mat-column-reason {
  width: 200px;
}

.mat-column-team {
  width: 150px;
}

