<h2>Stats for {{player.name}}</h2>

<p>Matches played: {{player.matchesPlayed}}</p>
<p>Total points: {{this.sumValues(player.points)}}</p>
<p>Points per game: {{this.getPointsAverage(player.points, player.matchesPlayed)}}</p>
<p>Number of goals: {{this.sumValues(player.goals)}}</p>
<p>Number of assists: {{this.sumValues(player.assists)}}</p>

{{player | json}}

<mat-tab-group>
  <mat-tab label="Points per match">
    <app-line-chart [title]="perMatchTitle" [dataSeries]="data"></app-line-chart>
  </mat-tab>
  <mat-tab label="Points accumulated">
    <app-line-chart [title]="accumulatedTitle" [dataSeries]="accData"></app-line-chart>
  </mat-tab>
</mat-tab-group>
