<div fxLayout="row wrap" fxLayoutAlign="center center" class="layout-wrapper">
  <div fxFlex="80%" fxFlex.lt-md="100%" class="flex-wrapper">
    <ng-content></ng-content>

    <p>Østlandsserien 2018/2019</p>

    <mat-tab-group (selectedTabChange)="executeSelectedChange($event)">
      <mat-tab label="Standings"></mat-tab>
      <mat-tab label="Matches"></mat-tab>
      <mat-tab label="Players"></mat-tab>
      <mat-tab label="Statistics"></mat-tab>
    </mat-tab-group>

    <router-outlet></router-outlet>

  </div>
</div>
